<h1>Hello world.</h1>
<!--<hinv-rooms></hinv-rooms>-->

<hinv-container>
  <hinv-rooms></hinv-rooms>
  <hinv-employee></hinv-employee>
  <h1>This of from ng-content</h1>
</hinv-container>

<div #name></div>

<!--<div [ngSwitch]="role">-->
<!--    <div *ngSwitchCase="'User'">Welcome User!</div>-->
<!--    <div *ngSwitchCase="'Admin'">-->
<!--        Welcome Admin!-->
<!--        -->
<!--    </div>-->
<!--    <div *ngSwitchDefault>Unauthorized to view page.</div>-->
<!--</div>-->

<!--<div>
  <ng-template #user></ng-template>
  <h1>Welcome User!</h1>
</div>-->
